In [19]:
import findspark
findspark.init()

In [20]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('demo').getOrCreate()

In [21]:
df=spark.read.csv("bank_segdata.csv",inferSchema=True,header=True)
df.show(3)

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|          T1|  C5841053| 10-01-1994|         F|  JAMSHEDPUR|          17819.05|     02-08-2016|         143207|             25.0|null|
|          T2|  C2142763| 04-04-1957|         M|     JHAJJAR|           2270.69|     02-08-2016|         141858|          27999.0|null|
|          T3|  C4417068| 26-11-1996|         F|      MUMBAI|          17874.44|     02-08-2016|         142712|            459.0|null|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
only showing top 3 rows

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
df.count()

2006

In [8]:
df.take(3)

[Row(TransctionID='T1', CustomerID='C5841053', CustomerDOB='10-01-1994', CustGender='F', CustLocation='JAMSHEDPUR', CustAccountBalance=17819.05, TransactionDate='02-08-2016', TransactionTime=143207, TransactionAmount=25.0, _c9=None),
 Row(TransctionID='T2', CustomerID='C2142763', CustomerDOB='04-04-1957', CustGender='M', CustLocation='JHAJJAR', CustAccountBalance=2270.69, TransactionDate='02-08-2016', TransactionTime=141858, TransactionAmount=27999.0, _c9=None),
 Row(TransctionID='T3', CustomerID='C4417068', CustomerDOB='26-11-1996', CustGender='F', CustLocation='MUMBAI', CustAccountBalance=17874.44, TransactionDate='02-08-2016', TransactionTime=142712, TransactionAmount=459.0, _c9=None)]

In [10]:
myfunc = spark.read.csv("bank_segdata.csv", inferSchema=True, header=True)
df = myfunc.limit(5) # limit to only show first 3 rows
df.show()

# # Convert DataFrame to RDD
# rdd = df.rdd
# rdd.collect() # Collect and print all elements in the RDD

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|          T1|  C5841053| 10-01-1994|         F|  JAMSHEDPUR|          17819.05|     02-08-2016|         143207|             25.0|null|
|          T2|  C2142763| 04-04-1957|         M|     JHAJJAR|           2270.69|     02-08-2016|         141858|          27999.0|null|
|          T3|  C4417068| 26-11-1996|         F|      MUMBAI|          17874.44|     02-08-2016|         142712|            459.0|null|
|          T4|  C5342380| 14-09-1973|         F|      MUMBAI|         866503.21|     02-08-2016|         142714|           2060.0|null|
|          T5|  C9031234| 24-03-1988|         F| NAVI MUMBAI|           6714.43|     02-08-2016|         181156|           1762.5|null|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+

In [1]:
# # Convert DataFrame to RDD
# rdd = df.rdd
# rdd.collect() # Collect and print all elements in the RDD

In [2]:
#raw_content = spark.sparkContext.textFile("bank_segdata.csv")

In [4]:
#type(raw_content)

In [5]:
#raw_content.count()

In [6]:
#raw_content.take(5)

In [7]:
#raw_content.takeSample(True, 5, 3)

In [8]:
# content = raw_content.map(lambda x: x.split(','))
# content.take(3)

In [9]:
# def clean(x):
#         return([xx.replace('', "") for xx in x])

In [10]:
#content = content.map(clean)

In [11]:
#content.take(4)

In [12]:
#package_count = content.map(lambda x: (x[6], 1)).reduceByKey(lambda a,b: a+b)

In [13]:
#type(package_count)

In [14]:
#package_count.count()

In [15]:
#package_count.take(5)

In [16]:
#package_count_2 = content.map(lambda x: (x[6], 1)).countByKey()

In [17]:
#type(package_count_2)

In [3]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

In [4]:
df = spark.read.csv("bank_segdata.csv", inferSchema = True, header = True)

In [22]:
df.printSchema()

root
 |-- TransctionID: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- CustomerDOB: string (nullable = true)
 |-- CustGender: string (nullable = true)
 |-- CustLocation: string (nullable = true)
 |-- CustAccountBalance: double (nullable = true)
 |-- TransactionDate: string (nullable = true)
 |-- TransactionTime: integer (nullable = true)
 |-- TransactionAmount: double (nullable = true)
 |-- _c9: string (nullable = true)

In [25]:
df.show(5)

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|          T1|  C5841053| 10-01-1994|         F|  JAMSHEDPUR|          17819.05|     02-08-2016|         143207|             25.0|null|
|          T2|  C2142763| 04-04-1957|         M|     JHAJJAR|           2270.69|     02-08-2016|         141858|          27999.0|null|
|          T3|  C4417068| 26-11-1996|         F|      MUMBAI|          17874.44|     02-08-2016|         142712|            459.0|null|
|          T4|  C5342380| 14-09-1973|         F|      MUMBAI|         866503.21|     02-08-2016|         142714|           2060.0|null|
|          T5|  C9031234| 24-03-1988|         F| NAVI MUMBAI|           6714.43|     02-08-2016|         181156|           1762.5|null|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
only showing top 5 rows

In [26]:
len(df.columns)

10

In [27]:
df.count()

2006

In [28]:

df.distinct().count()

2006

In [29]:

df.groupBy("CustomerId").count().orderBy("count", ascending = False).show()

+----------+-----+
|CustomerId|count|
+----------+-----+
|  C1841937|    2|
|  C8732711|    1|
|  C6421261|    1|
|  C2939112|    1|
|  C8741166|    1|
|  C4440931|    1|
|  C8116854|    1|
|  C4029960|    1|
|  C7817677|    1|
|  C4240562|    1|
|  C2221420|    1|
|  C8524541|    1|
|  C8017865|    1|
|  C1021343|    1|
|  C4814390|    1|
|  C7330163|    1|
|  C8640163|    1|
|  C4127485|    1|
|  C2440683|    1|
|  C7034179|    1|
+----------+-----+
only showing top 20 rows

In [38]:
#1
df.filter(df["CustAccountBalance"]<"100").count()

10

In [39]:
#2
df.filter(df["TransactionAmount"] >50000).select("CustomerID").show()

+----------+
|CustomerID|
+----------+
|  C4325361|
|  C7675278|
|  C8738676|
|  C6784890|
|  C6629680|
|  C1631481|
|  C3414431|
|  C5874370|
|  C7814446|
|  C7729224|
|  C5830361|
+----------+

In [33]:
#3
df.select("CustGender").distinct().show()

+----------+
|CustGender|
+----------+
|         F|
|      null|
|         M|
+----------+

In [18]:
#3credit card users in Spain 
df.filter(df["CustLocation"]=="MUMBAI").show()

NameError: name 'df' is not defined

In [40]:
#4
df.filter((df["CustAccountBalance"]>100) & (df["TransactionAmount"]<50000)).count()

1916

In [37]:
#5
df.filter(df["CustGender"] == "F").selectExpr("avg(CustAccountBalance)").show()

+-----------------------+
|avg(CustAccountBalance)|
+-----------------------+
|     105321.79597122302|
+-----------------------+

In [45]:
#6
df.filter((df["CustGender"]=="F") & (df["CustLocation"]=="CHENNAI")).show()

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|         T37|  C4320949| 25-10-1984|         F|     CHENNAI|            213.06|     03-08-2016|         182915|           1081.0|null|
|         T87|  C5931634| 15-08-1995|         F|     CHENNAI|           1942.83|     06-08-2016|         121618|             28.0|null|
|        T213|  C8426486| 01-07-1989|         F|     CHENNAI|          13279.12|     07-08-2016|         193120|           323.72|null|
|        T294|  C7058034| 06-03-1992|         F|     CHENNAI|         184680.72|     21-10-2016|         150915|             50.0|null|
|        T315|  C4637288| 25-10-1993|         F|     CHENNAI|            812.53|     21-10-2016|         150427|             25.0|null|
|        T486|  C8013820| 12-07-2004|         F|     CHENNAI|           6661.03|     21-10-2016|         215149|            110.0|null|
|        T532|  C9016635| 16-09-1980|         F|     CHENNAI|         447165.79|     21-10-2016|         194106|           1610.0|null|
|        T589|  C1620690| 14-04-1979|         F|     CHENNAI|          10096.04|     21-10-2016|         194939|            300.0|null|
|        T983|  C4865613|   1/1/1800|         F|     CHENNAI|               0.0|     21-10-2016|         204421|           1500.0|null|
|       T1118|  C2932039| 21-03-1991|         F|     CHENNAI|          59147.73|     21-10-2016|         203350|           1254.0|null|
|       T1226|  C4911265| 12-04-1954|         F|     CHENNAI|         104755.95|     21-10-2016|         210751|           6401.0|null|
|       T1305|  C3236282| 10-10-1991|         F|     CHENNAI|          13148.92|     21-10-2016|         213734|            294.0|null|
|       T1369|  C8718978| 01-08-1996|         F|     CHENNAI|          17248.02|     21-10-2016|         195216|            200.0|null|
|       T1395|  C4019053| 24-02-1988|         F|     CHENNAI|           6829.19|     21-10-2016|         201209|           1292.0|null|
|       T1494|  C8622547| 07-07-1986|         F|     CHENNAI|           7592.69|     21-10-2016|         193002|            430.0|null|
|       T1500|  C8822478| 25-09-1991|         F|     CHENNAI|          43721.03|     21-10-2016|         195319|          15960.0|null|
|       T1690|  C7817677| 14-07-1989|         F|     CHENNAI|          26101.61|     21-10-2016|         203624|            225.0|null|
|       T1696|  C1619820| 13-01-1991|         F|     CHENNAI|          41448.24|     21-10-2016|         204214|            195.0|null|
|       T1844|  C8620619| 14-04-1979|         F|     CHENNAI|          10096.04|     21-10-2016|         204721|           258.99|null|
|       T1850|  C5529457| 23-01-1997|         F|     CHENNAI|         127345.92|     21-10-2016|         110537|             2.75|null|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
only showing top 20 rows

In [42]:
#7
#Find the total transaction amount for each customer according to gender
#from pyspark.sql.functions import sum

df.groupBy("CustGender").agg(sum("TransactionAmount").alias("total_transaction_amount")).show()

+----------+------------------------+
|CustGender|total_transaction_amount|
+----------+------------------------+
|         F|       877278.5199999997|
|      null|                  3449.0|
|         M|      2855457.6599999988|
+----------+------------------------+

In [66]:
#8
#PySpark to find the highest transaction amount made in Mumbai on each transaction date in a DataFrame.
from pyspark.sql.functions import max

# replace "New York" with the location you want to filter by
highest_transactions = df.filter(df["CustLocation"] == "MUMBAI") \
                         .groupBy("TransactionDate") \
                         .agg(max("TransactionAmount").alias("HighestTransactionAmount"))

highest_transactions.show()

+---------------+------------------------+
|TransactionDate|HighestTransactionAmount|
+---------------+------------------------+
|     05-08-2016|                   519.0|
|     09-08-2016|                   599.0|
|     01-08-2016|                 1423.11|
|     07-08-2016|                   127.8|
|     03-08-2016|                  6800.0|
|     04-08-2016|                 10885.0|
|     21-10-2016|                 23352.0|
|     12-08-2016|                   500.0|
|     02-08-2016|                  2060.0|
|     06-08-2016|                  787.98|
+---------------+------------------------+

In [5]:
#9
#Show the average transaction amount:
df.select("TransactionAmount").agg({"TransactionAmount": "avg"}).show()

+----------------------+
|avg(TransactionAmount)|
+----------------------+
|     1862.505074775673|
+----------------------+

In [6]:
#10
#Show the maximum transaction amount
df.select("TransactionAmount").agg({"TransactionAmount": "max"}).show()

+----------------------+
|max(TransactionAmount)|
+----------------------+
|              137890.0|
+----------------------+

In [7]:
#11
#Show the minimum transaction amount:
df.select("TransactionAmount").agg({"TransactionAmount": "min"}).show()

+----------------------+
|min(TransactionAmount)|
+----------------------+
|                   0.0|
+----------------------+

In [ ]:
#12
#Show the transaction with the highest amount:
df.orderBy("TransactionAmount", ascending=False).first()

In [9]:
#13
#Show the total number of transactions for each customer:
df.groupBy("CustomerID").count().show()

+----------+-----+
|CustomerID|count|
+----------+-----+
|  C8732711|    1|
|  C6421261|    1|
|  C2939112|    1|
|  C8741166|    1|
|  C4440931|    1|
|  C8116854|    1|
|  C4029960|    1|
|  C7817677|    1|
|  C4240562|    1|
|  C2221420|    1|
|  C8524541|    1|
|  C8017865|    1|
|  C1021343|    1|
|  C4814390|    1|
|  C7330163|    1|
|  C8640163|    1|
|  C4127485|    1|
|  C2440683|    1|
|  C7034179|    1|
|  C3225470|    1|
+----------+-----+
only showing top 20 rows

In [10]:
#14
#Show the total transaction amount for each customer:
df.groupBy("CustomerID").agg({"TransactionAmount": "sum"}).show()

+----------+----------------------+
|CustomerID|sum(TransactionAmount)|
+----------+----------------------+
|  C8732711|                1423.0|
|  C6421261|                5555.0|
|  C2939112|                 321.0|
|  C8741166|               1512.75|
|  C4440931|                 200.0|
|  C8116854|                 270.0|
|  C4029960|                  50.0|
|  C7817677|                 225.0|
|  C4240562|                 446.0|
|  C2221420|                 618.0|
|  C8524541|                 445.0|
|  C8017865|                 142.0|
|  C1021343|                 467.0|
|  C4814390|               47290.0|
|  C7330163|                 730.0|
|  C8640163|                1721.0|
|  C4127485|                1250.0|
|  C2440683|                 440.0|
|  C7034179|                  15.0|
|  C3225470|                 160.0|
+----------+----------------------+
only showing top 20 rows

In [11]:
#15
#Show the average transaction amount for each customer gender:
df.groupBy("CustGender").agg({"TransactionAmount": "avg"}).show()

+----------+----------------------+
|CustGender|avg(TransactionAmount)|
+----------+----------------------+
|         F|    1577.8390647482008|
|      null|                3449.0|
|         M|    1970.6402070393367|
+----------+----------------------+

In [12]:
#16
#Show the transactions that occurred in a specific date range:
from pyspark.sql.functions import col
df.filter((col("TransactionDate") >= "2023-01-01") & (col("TransactionDate") <= "2023-02-28")).show()

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+---+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount|_c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+---+
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+---+

In [13]:
#17
#Show the customers with the highest account balance:
df.orderBy("CustAccountBalance", ascending=False).show()

+------------+----------+-----------+----------+--------------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|        CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+--------------------+------------------+---------------+---------------+-----------------+----+
|       T1419|  C5717433|   1/1/1800|         F|              MOHALI|     1.413119502E7|     21-10-2016|         204645|           2411.0|null|
|       T2002|  C7728829| 27-10-1980|         M|              MUMBAI|        3659161.33|     21-10-2016|         204521|           5997.0|null|
|       T1058|  C5442656| 02-01-1986|         M|              BOKARO|         3482113.5|     21-10-2016|         205137|           5500.0|null|
|        T526|  C5072857|   1/1/1800|         M|           NEW DELHI|        3053688.58|     21-10-2016|         204225|           1088.0|null|
|        T579|  C7732922| 17-05-1968|         M|           NEW DELHI|        2916683.97|     21-10-2016|         221816|           6199.0|null|
|        T759|  C6330852|   1/1/1800|         M|              MUMBAI|        2712481.26|     21-10-2016|         202946|           5900.0|null|
|       T1089|  C3228213| 07-07-1962|         M|N M JOSHI MARG LO...|        2494964.39|     21-10-2016|         163526|           341.87|null|
|       T1488|  C2828226| 07-07-1962|         M|N M JOSHI MARG LO...|        2494964.39|     21-10-2016|         163238|          1659.69|null|
|       T1765|  C8922138| 23-11-1959|         M|           NEW DELHI|        2006295.96|     21-10-2016|         200024|          29600.0|null|
|       T1049|  C7329287|   1/1/1800|         F|           NEW DELHI|        1971218.11|     21-10-2016|         203509|           3592.0|null|
|       T1778|  C5026617| 05-05-1980|         M|               THANE|        1883047.15|     21-10-2016|         223021|           2825.0|null|
|        T207|  C7675278|   1/1/1800|         M|               NOIDA|        1867210.51|     07-08-2016|         144436|         137890.0|null|
|       T1569|  C8712183| 22-12-1936|         M|              MUMBAI|        1773111.86|     21-10-2016|         214521|           1290.0|null|
|       T1990|  C8317026|   1/1/1800|         M|    KHAR WEST MUMBAI|        1599263.99|     21-10-2016|         204157|           1125.0|null|
|        T906|  C3414431| 01-01-1980|         M|          CHANDIGARH|        1586508.61|     21-10-2016|         205750|         100000.0|null|
|       T1270|  C7814446| 01-01-1980|         M|          CHANDIGARH|        1586508.61|     21-10-2016|         205715|         100000.0|null|
|       T1207|  C8842737| 28-10-1986|         M|               ANAND|        1577984.15|     21-10-2016|         203202|           1758.4|null|
|       T1520|  C1155983| 09-09-1985|         M|               DELHI|        1572828.44|     21-10-2016|         200312|            795.0|null|
|        T693|  C6993164| 21-05-1975|         M|              MUMBAI|        1473749.77|     21-10-2016|         194308|            209.0|null|
|        T367|  C6784890| 10-05-1971|         M|               NOIDA|        1441016.64|     21-10-2016|         203410|          60000.0|null|
+------------+----------+-----------+----------+--------------------+------------------+---------------+---------------+-----------------+----+
only showing top 20 rows

In [14]:
#18
#Show the total transaction amount for each location:
df.groupBy("CustLocation").agg({"TransactionAmount": "sum"}).show()

+--------------------+----------------------+
|        CustLocation|sum(TransactionAmount)|
+--------------------+----------------------+
|             GWALIOR|                2350.0|
|              BOKARO|                6335.0|
|            KALYAN W|                 137.7|
|    KALYAN (W) THANE|                3943.0|
|          RAI BARELI|                  50.0|
|HOSPITAL BEHIND C...|                  85.0|
| PUMP HINJEWADI PUNE|                 200.0|
|JOGESHWARI (E) MU...|                1099.0|
|               MANDI|                  64.0|
|           DARBHANGA|                  75.0|
|       SRIPERUMBUDUR|                2625.0|
|   PASCHIM MEDINIPUR|                 363.0|
|            RAMNAGAR|                1920.0|
|             KOLKATA|             126947.97|
|         BULANDSHAHR|                2729.0|
|              GUNTUR|                 956.0|
|              INDORE|              13536.98|
|   SOUTH 24 PARGANAS|                  55.0|
|           MANGALORE|                2395.0|
|              JORHAT|                 399.0|
+--------------------+----------------------+
only showing top 20 rows

In [16]:
#19
#Show the total number of transactions and the average transaction amount for each customer location:
df.groupBy("CustomerID").agg({"TransactionAmount": "sum", "TransctionID": "count"}).show()

+----------+----------------------+-------------------+
|CustomerID|sum(TransactionAmount)|count(TransctionID)|
+----------+----------------------+-------------------+
|  C8732711|                1423.0|                  1|
|  C6421261|                5555.0|                  1|
|  C2939112|                 321.0|                  1|
|  C8741166|               1512.75|                  1|
|  C4440931|                 200.0|                  1|
|  C8116854|                 270.0|                  1|
|  C4029960|                  50.0|                  1|
|  C7817677|                 225.0|                  1|
|  C4240562|                 446.0|                  1|
|  C2221420|                 618.0|                  1|
|  C8524541|                 445.0|                  1|
|  C8017865|                 142.0|                  1|
|  C1021343|                 467.0|                  1|
|  C4814390|               47290.0|                  1|
|  C7330163|                 730.0|                  1|
|  C8640163|                1721.0|                  1|
|  C4127485|                1250.0|                  1|
|  C2440683|                 440.0|                  1|
|  C7034179|                  15.0|                  1|
|  C3225470|                 160.0|                  1|
+----------+----------------------+-------------------+
only showing top 20 rows

In [18]:
#20
#Show the transactions that occurred between two specific times of day:
from pyspark.sql.functions import col, from_unixtime, hour

df.filter((hour(from_unixtime(col("TransactionTime"), "yyyy-MM-dd HH:mm:ss")) >= 9) & (hour(from_unixtime(col("TransactionTime"), "yyyy-MM-dd HH:mm:ss")) <= 12)).show()

+------------+----------+-----------+----------+--------------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|        CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+--------------------+------------------+---------------+---------------+-----------------+----+
|          T9|  C8536061| 19-04-1988|         F|             GURGAON|          14906.96|     02-08-2016|         192825|            833.0|null|
|         T10|  C6638934| 22-06-1984|         M|              MUMBAI|           4279.22|     02-08-2016|         192446|           289.11|null|
|         T22|  C4511244| 31-08-1989|         F|        SECUNDERABAD|           4470.15|     03-08-2016|         105329|             27.0|null|
|         T23|  C7018081|   1/1/1800|         M|WAYS PANCHKUVA AH...|            143.07|     03-08-2016|         104718|            110.0|null|
|         T49|  C6427687| 04-07-1981|         M|       MUZAFFARNAGAR|           2162.36|     02-08-2016|         100019|             55.0|null|
|         T63|  C1130989| 22-10-1990|         M|                PUNE|            250.26|     05-08-2016|         105850|             60.0|null|
|         T67|  C8417574| 17-07-1990|         F|              MUMBAI|         224685.48|     04-08-2016|          12648|           339.92|null|
|         T75|  C2016883| 20-08-1994|         F|             NELLORE|           5922.11|     01-08-2016|         194114|            507.0|null|
|         T76|  C5930363| 20-08-1994|         M|              ADIPUR|              2.75|     01-08-2016|         194117|            800.0|null|
|         T77|  C1021343| 23-02-1980|         M|              MUMBAI|         134698.04|     01-08-2016|         194733|            467.0|null|
|        T105|  C7924053| 15-04-1971|         F|             KOLKATA|          77587.52|     06-08-2016|         185409|            500.0|null|
|        T113|  C3911031| 16-10-1989|         F|            KARUR DT|         116592.57|     05-08-2016|         110647|           1480.0|null|
|        T114|  C7641090| 15-06-1991|         M|            CHITTO0R|            8588.5|     05-08-2016|         110551|              1.0|null|
|        T115|  C7317029| 19-03-1992|         M|      K V RANGAREDDY|             33.01|     05-08-2016|         105532|             40.0|null|
|        T125|  C8441772| 20-04-1982|         F|             GURGAON|          51939.21|     09-08-2016|         194915|            457.0|null|
|        T126|  C2024260| 15-01-1987|         M|             PIMPALI|          87839.68|     09-08-2016|         194916|           1747.0|null|
|        T133|  C7614444| 03-04-1991|         M|   SOUTH 24 PARGANAS|             19.83|     08-08-2016|         110319|             40.0|null|
|        T137|  C1537466| 25-10-1990|         F|MIRABHAYANDER THA...|          12783.53|     04-08-2016|         100850|             50.0|null|
|        T148|  C5034425| 09-11-1989|         M|               DELHI|          54033.57|     09-08-2016|          25955|            360.0|null|
|        T152|  C3334638|   1/1/1800|         M|                PUNE|             700.0|     09-08-2016|          24912|           1500.0|null|
+------------+----------+-----------+----------+--------------------+------------------+---------------+---------------+-----------------+----+
only showing top 20 rows

In [26]:
#21
df.createOrReplaceTempView("transactions")
spark.sql("SELECT t1.CustomerID, t1.CustLocation, t1.CustAccountBalance FROM transactions t1 INNER JOIN (SELECT CustLocation, MAX(CustAccountBalance) AS MaxBalance FROM transactions GROUP BY CustLocation) t2 ON t1.CustLocation = t2.CustLocation AND t1.CustAccountBalance = t2.MaxBalance").show()

+----------+--------------------+------------------+
|CustomerID|        CustLocation|CustAccountBalance|
+----------+--------------------+------------------+
|  C1536588|            ITANAGAR|           53609.2|
|  C6121429|NO 3 KALYANI NAGA...|           2934.22|
|  C7018081|WAYS PANCHKUVA AH...|            143.07|
|  C5338459|             DHANBAD|         113238.74|
|  C5120181|             MUKTSAR|           2477.42|
|  C5838935|             SOCORRO|           58406.7|
|  C7923455|ANDHERI (EAST) MU...|           5810.82|
|  C1289591|                KOTA|         282455.64|
|  C7542443|      K V RANGAREDDY|          25222.91|
|  C6427687|       MUZAFFARNAGAR|           2162.36|
|  C3932235|        SHAHJAHANPUR|             91.66|
|  C7415323|  DIST RAIGAD PANVEL|          10253.21|
|  C6730370|               GODDA|          13968.07|
|  C8932791|    REWARI (HARYANA)|           5511.73|
|  C5930363|              ADIPUR|              2.75|
|  C8640537|            BATHINDA|           2988.21|
|  C6040326|            JABALPUR|          35990.54|
|  C4226473|            KASHIPUR|           4001.86|
|  C3232257|                ETAH|             78.33|
|  C7833983|             TIRUPUR|           2298.51|
+----------+--------------------+------------------+
only showing top 20 rows

In [28]:
#22
#Find the customers who have made transactions on weekends:
spark.sql("SELECT * FROM transactions WHERE DAYOFWEEK(TransactionDate) IN (1, 7)").count()

0

In [29]:
#23
#Get the total transaction amount for each day of the week:
spark.sql("SELECT DAYOFWEEK(TransactionDate) AS DayOfWeek, SUM(TransactionAmount) AS TotalAmount FROM transactions GROUP BY DAYOFWEEK(TransactionDate)").show()

+---------+------------------+
|DayOfWeek|       TotalAmount|
+---------+------------------+
|     null|3736185.1799999997|
+---------+------------------+

In [30]:
#24
#Find the customers who have made transactions larger than their average transaction amount:
spark.sql("SELECT t1.* FROM transactions t1 INNER JOIN (SELECT CustomerID, AVG(TransactionAmount) AS AvgAmount FROM transactions GROUP BY CustomerID) t2 ON t1.CustomerID = t2.CustomerID WHERE t1.TransactionAmount > t2.AvgAmount").show()

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount| _c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+
|       T1438|  C1841937|   1/1/1800|         M|      KHANNA|          13226.16|     21-10-2016|         210849|            490.0|null|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+----+

In [31]:
#25
#Find the customers who have made transactions on consecutive days:
spark.sql("SELECT t1.* FROM transactions t1 INNER JOIN transactions t2 ON t1.CustomerID = t2.CustomerID AND DATEDIFF(t1.TransactionDate, t2.TransactionDate) = 1").show()

+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+---+
|TransctionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount|_c9|
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+---+
+------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------+---+

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql.functions import sum, avg, count, max, min, col, from_unixtime, hour, dayofweek, datediff

# create SparkSession object
spark = SparkSession.builder.appName("TransactionAnalysis").getOrCreate()

# read CSV file as Spark DataFrame
df = spark.read.csv("bank_segdata.csv", header=True)

# function to display menu options
def display_menu():
    print("Choose a query to run:")
    print("1. Customers with account balance > 100:")
    print("2. Customers with transaction amount < 5000:")
    print("3. Distinct customer genders:")
    print("4. Customers with account balance > 100 and transaction amount < 50000")
    print("5. Average account balance for female customers")
    print("6. Female customers from Chennai")
    print("7. Total transaction amount for each customer gender")
    print("8. Highest transaction amount made in Mumbai on each transaction date")
    print("9. Average transaction amount")
    print("10. Maximum transaction amount")
    print("11. Minimum transaction amount")
    print("12. Transaction with the highest amount")
    print("13. Count of transactions for each customer")
    print("14. Total transaction amount for each customer")
    print("15. Average transaction amount for each customer gender")
    print("16. Transactions between Jan 1, 2023 and Feb 28, 2023")
    print("17. Customers sorted by account balance")
    print("18. Total transaction amount for each location")
    print("19. Total transaction amount and count of transactions for each customer")
    print("20. Transactions between 9:00 AM and 12:00 PM")
    print("21. Customers with the highest account balance for each location")
    print("22. Count of transactions on weekends")
    print("23. Total transaction amount for each day of the week")
    print("24. Transactions with amount greater than average transaction amount for each customer")
    print("25. Transactions made on consecutive days by the same customer")
    print("0. Exit")

# loop to display menu and execute selected query
while True:
    display_menu()
    choice = int(input("Enter your choice: "))

    if choice == 0:
        print("Exiting program...")
        break

    elif choice == 1:
        result = df.filter(df["CustAccountBalance"] < 100).count()
        print(f"Number of customers with account balance < 100: {result}")

    elif choice == 2:
        result = df.filter(df["TransactionAmount"] > 50000).select("CustomerID").show()

    elif choice == 3:
        result = df.select("CustGender").distinct().show()

    elif choice == 4:
        result = df.filter((df["CustAccountBalance"] > 100) & (df["TransactionAmount"] < 50000)).count()
        print(f"Number of customers with account balance > 1000 and transaction amount < 10000: {result}")

    elif choice == 5:
        result = df.filter(df["CustGender"] == "F").selectExpr("avg(CustAccountBalance)").show()

    elif choice == 6:
        result = df.filter((df["CustGender"] == "F") & (df["CustLocation"] == "CHENNAI")).show()

    elif choice == 7:
        gender_totals = df.groupBy("CustGender").agg(sum("TransactionAmount").alias("total_transaction_amount"))
        gender_totals.show()
        
    elif choice == 8:
        highest_transactions = df.filter(df["CustLocation"] == "MUMBAI") \
                         .groupBy("TransactionDate") \
                         .agg(max("TransactionAmount").alias("HighestTransactionAmount"))

        highest_transactions.show()
    elif choice == 9:
        df.select("TransactionAmount").agg({"TransactionAmount": "avg"}).show()
        
    elif choice == 10:
        df.select("TransactionAmount").agg({"TransactionAmount": "max"}).show()

    elif choice == 11:
        df.select("TransactionAmount").agg({"TransactionAmount": "min"}).show()
        
    elif choice == 12:
        df.orderBy("TransactionAmount", ascending=False).first()
        
    elif choice == 13:
        df.groupBy("CustomerID").count().show() 
        
    elif choice == 14:
        df.groupBy("CustomerID").agg({"TransactionAmount": "sum"}).show()
        
    elif choice == 15:
        df.groupBy("CustGender").agg({"TransactionAmount": "avg"}).show()
        
    elif choice == 16:
        from pyspark.sql.functions import col
        df.filter((col("TransactionDate") >= "2023-01-01") & (col("TransactionDate") <= "2023-02-28")).show()
    
    elif choice == 17:    
        df.orderBy("CustAccountBalance", ascending=False).show()
    
    elif choice == 18:
        df.groupBy("CustLocation").agg({"TransactionAmount": "sum"}).show()
        
    elif choice == 19:
        df.groupBy("CustomerID").agg({"TransactionAmount": "sum", "TransctionID": "count"}).show()
        
    elif choice == 20:
        from pyspark.sql.functions import col, from_unixtime, hour
        df.filter((hour(from_unixtime(col("TransactionTime"), "yyyy-MM-dd HH:mm:ss")) >= 9) & (hour(from_unixtime(col("TransactionTime"), "yyyy-MM-dd HH:mm:ss")) <= 12)).show()
        
    elif choice == 21:
        df.createOrReplaceTempView("transactions")
        spark.sql("SELECT t1.CustomerID, t1.CustLocation, t1.CustAccountBalance FROM transactions t1 INNER JOIN (SELECT CustLocation, MAX(CustAccountBalance) AS MaxBalance FROM transactions GROUP BY CustLocation) t2 ON t1.CustLocation = t2.CustLocation AND t1.CustAccountBalance = t2.MaxBalance").show()
        
    elif choice == 22:
        spark.sql("SELECT * FROM transactions WHERE DAYOFWEEK(TransactionDate) IN (1, 7)").count()
     
    elif choice == 23:
        spark.sql("SELECT DAYOFWEEK(TransactionDate) AS DayOfWeek, SUM(TransactionAmount) AS TotalAmount FROM transactions GROUP BY DAYOFWEEK(TransactionDate)").show()
    
    elif choice == 24:
        spark.sql("SELECT t1.* FROM transactions t1 INNER JOIN (SELECT CustomerID, AVG(TransactionAmount) AS AvgAmount FROM transactions GROUP BY CustomerID) t2 ON t1.CustomerID = t2.CustomerID WHERE t1.TransactionAmount > t2.AvgAmount").show()

    elif choice == 25:
        spark.sql("SELECT t1.* FROM transactions t1 INNER JOIN transactions t2 ON t1.CustomerID = t2.CustomerID AND DATEDIFF(t1.TransactionDate, t2.TransactionDate) = 1").show()

Choose a query to run:
1. Customers with account balance > 100:
2. Customers with transaction amount < 5000:
3. Distinct customer genders:
4. Customers with account balance > 100 and transaction amount < 50000
5. Average account balance for female customers
6. Female customers from Chennai
7. Total transaction amount for each customer gender
8. Highest transaction amount made in Mumbai on each transaction date
9. Average transaction amount
10. Maximum transaction amount
11. Minimum transaction amount
12. Transaction with the highest amount
13. Count of transactions for each customer
14. Total transaction amount for each customer
15. Average transaction amount for each customer gender
16. Transactions between Jan 1, 2023 and Feb 28, 2023
17. Customers sorted by account balance
18. Total transaction amount for each location
19. Total transaction amount and count of transactions for each customer
20. Transactions between 9:00 AM and 12:00 PM
21. Customers with the highest account balance for each location
22. Count of transactions on weekends
23. Total transaction amount for each day of the week
24. Transactions with amount greater than average transaction amount for each customer
25. Transactions made on consecutive days by the same customer
0. Exit
Enter your choice: 10
+----------------------+
|max(TransactionAmount)|
+----------------------+
|                   999|
+----------------------+

Choose a query to run:
1. Customers with account balance > 100:
2. Customers with transaction amount < 5000:
3. Distinct customer genders:
4. Customers with account balance > 100 and transaction amount < 50000
5. Average account balance for female customers
6. Female customers from Chennai
7. Total transaction amount for each customer gender
8. Highest transaction amount made in Mumbai on each transaction date
9. Average transaction amount
10. Maximum transaction amount
11. Minimum transaction amount
12. Transaction with the highest amount
13. Count of transactions for each customer
14. Total transaction amount for each customer
15. Average transaction amount for each customer gender
16. Transactions between Jan 1, 2023 and Feb 28, 2023
17. Customers sorted by account balance
18. Total transaction amount for each location
19. Total transaction amount and count of transactions for each customer
20. Transactions between 9:00 AM and 12:00 PM
21. Customers with the highest account balance for each location
22. Count of transactions on weekends
23. Total transaction amount for each day of the week
24. Transactions with amount greater than average transaction amount for each customer
25. Transactions made on consecutive days by the same customer
0. Exit
Enter your choice: 9
+----------------------+
|avg(TransactionAmount)|
+----------------------+
|     1862.505074775673|
+----------------------+

Choose a query to run:
1. Customers with account balance > 100:
2. Customers with transaction amount < 5000:
3. Distinct customer genders:
4. Customers with account balance > 100 and transaction amount < 50000
5. Average account balance for female customers
6. Female customers from Chennai
7. Total transaction amount for each customer gender
8. Highest transaction amount made in Mumbai on each transaction date
9. Average transaction amount
10. Maximum transaction amount
11. Minimum transaction amount
12. Transaction with the highest amount
13. Count of transactions for each customer
14. Total transaction amount for each customer
15. Average transaction amount for each customer gender
16. Transactions between Jan 1, 2023 and Feb 28, 2023
17. Customers sorted by account balance
18. Total transaction amount for each location
19. Total transaction amount and count of transactions for each customer
20. Transactions between 9:00 AM and 12:00 PM
21. Customers with the highest account balance for each location
22. Count of transactions on weekends
23. Total transaction amount for each day of the week
24. Transactions with amount greater than average transaction amount for each customer
25. Transactions made on consecutive days by the same customer
0. Exit
Enter your choice: 11
+----------------------+
|min(TransactionAmount)|
+----------------------+
|                     0|
+----------------------+

Choose a query to run:
1. Customers with account balance > 100:
2. Customers with transaction amount < 5000:
3. Distinct customer genders:
4. Customers with account balance > 100 and transaction amount < 50000
5. Average account balance for female customers
6. Female customers from Chennai
7. Total transaction amount for each customer gender
8. Highest transaction amount made in Mumbai on each transaction date
9. Average transaction amount
10. Maximum transaction amount
11. Minimum transaction amount
12. Transaction with the highest amount
13. Count of transactions for each customer
14. Total transaction amount for each customer
15. Average transaction amount for each customer gender
16. Transactions between Jan 1, 2023 and Feb 28, 2023
17. Customers sorted by account balance
18. Total transaction amount for each location
19. Total transaction amount and count of transactions for each customer
20. Transactions between 9:00 AM and 12:00 PM
21. Customers with the highest account balance for each location
22. Count of transactions on weekends
23. Total transaction amount for each day of the week
24. Transactions with amount greater than average transaction amount for each customer
25. Transactions made on consecutive days by the same customer
0. Exit
Enter your choice: 12
Choose a query to run:
1. Customers with account balance > 100:
2. Customers with transaction amount < 5000:
3. Distinct customer genders:
4. Customers with account balance > 100 and transaction amount < 50000
5. Average account balance for female customers
6. Female customers from Chennai
7. Total transaction amount for each customer gender
8. Highest transaction amount made in Mumbai on each transaction date
9. Average transaction amount
10. Maximum transaction amount
11. Minimum transaction amount
12. Transaction with the highest amount
13. Count of transactions for each customer
14. Total transaction amount for each customer
15. Average transaction amount for each customer gender
16. Transactions between Jan 1, 2023 and Feb 28, 2023
17. Customers sorted by account balance
18. Total transaction amount for each location
19. Total transaction amount and count of transactions for each customer
20. Transactions between 9:00 AM and 12:00 PM
21. Customers with the highest account balance for each location
22. Count of transactions on weekends
23. Total transaction amount for each day of the week
24. Transactions with amount greater than average transaction amount for each customer
25. Transactions made on consecutive days by the same customer
0. Exit

In [ ]:
12